@using DataGrid.Contracts.Models;
@model IReadOnlyCollection<Tour>
@{
    ViewData["Title"] = "Список туров";
    var stats = ViewData[nameof(ITourStats)] as ITourStats;
}

<div class="text-center">
	<h1 class="display-4">Горящие туры!</h1>
	<p>Автор: <a href="https://github.com/Gavrilovadasha"> Гаврилова Дарья</a>.</p>
	<p>Группа: ИП - 21 - 3</p>
</div>

<h2>Список туров</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Добавить новый тур</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Направление</th>
            <th>Дата вылета</th>
            <th>Кол-во ночей</th>
            <th>Стоимость за одного отдыхающего</th>
            <th>Количество отдыхающих</th>
            <th>Доплаты</th>
            <th>Наличие WI-FI</th>
            <th>Итоговая стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.Direction</td>
                <td>@tour.DeparturDate</td>
                <td>@tour.NumberNights</td>
                <td>@tour.CostVacationers</td>
                <td>@tour.NumberVacationers</td>
                <td>@tour.Surcharges</td>
				<td>@tour.WIFI</td>
                <td>@((tour.CostVacationers * tour.NumberVacationers)+tour.Surcharges)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tour.ID" class="btn btn-warning"
                       onclick="return confirm('Вы уверены, что хотите изменить этот тур?');">
                        Изменить
                    </a>

                    <form asp-action="Delete" asp-route-id="@tour.ID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Вы уверены, что хотите удалить этот тур?');">
                            Удалить
                        </button>
                    </form>
                </td> 
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
